.box{
    box-sizing: border-box;
    width: 5rem;
    height: 5rem;
    color: white;
    font-size: 4rem;
    padding: 10px;
}
.rosa{
    background-color: deeppink;
}
.laranja{
    background-color: orange;
}
.salmon{
    background-color: salmon;
}

/*
.box{
    box-sizing: border-box;
    height: 180px;
    width: 180px;
    border: 2px dotted black;
    border-radius: 50px;
}
.rosa{
    background-color: deepink;
    border-width: 5px;
    border-style: dashed;
}
.laranja{
    background-color: orange;
    border-width: 10px 15px 10px 15px;
    border-bottom-style: double;
    border-radius: 0 0 90px 10px;
}
.salmon{
    background-color: salmon;
    border-bottom-width: 0;
    border-style: solid;
    border-top-left-radius: 90px;
}
*/

/*
body{
    background-color: deeppink;
    margin: 0;
}
.box{
    box-sizing: border-box;
    height: 180px;
    width: 180px;
    border: 10px solid black;
    padding: 10px;
    margin: 10px;
}
.rosa{
    background-color: pink;
    margin-top: 0px;
}
.laranja{
    background-color: orange;
    margin-bottom: 50px;
}
.salmon{
    background-color: salmon;
    margin-left: 0px;
}
*/