<app-card titulo="Primeiro componente" cor="#FFB6C1">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>
<app-card titulo="Aprofundando os conhecimentos em templates" cor="#FB7C88">
    <app-segundo-componente></app-segundo-componente>
</app-card>
<app-card titulo="Pipes" cor="#FFB6C1">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>
<app-card titulo="Two way data binding" cor="#FB7C88">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<app-card titulo="Renderizando listas" cor="#FFB6C1">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>
<app-card titulo="Componente personalizado (Input)" cor="#FB7C88">
    <app-componente-personalizado nome="Minnie" sobrenome="Mouse"></app-componente-personalizado>
</app-card>
<app-card titulo="Compartilhando dados entre componentes" cor="#FFB6C1">
    <app-componente-pai></app-componente-pai>
</app-card>
<app-card titulo="Serviços" cor="#FB7C88">
    <app-exemplo-servicos1></app-exemplo-servicos1>
    <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>
<app-card titulo="Ciclo de vida" cor="#FFB6C1">
    <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>